# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments (MUITO IMPORTANTE)
env/
venv/
.env
.venv/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE specific settings (Opcional, mas recomendado)
.vscode/
.idea/

